* {
	box-sizing: border-box;
}

#con {
	height:1200px;
	margin-left: 270px;
	text-align: center;
}

#main {
	margin: auto;
	border: 1px solid black;
	width: 800px;
	height: 1500px;
}

.writeTable {
	margin: auto;
	margin-top: 10px;
	width: 800px;
}

#map {
	width: 600px;
	height: 300px;
	margin: auto;
	margin-top: 20px;
	margin-left: 20px;
}

#autocomplete {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 500px;
	height: 35px;
}

#search {
	margin-top: 50px;
	margin: auto;
	text-align: center;
}

table tr td:first-child {
	width: 150px;
}

.uploadIcon {
	width: 20px;
	height: 18px;
	margin-left: 10px;
}

input[type="file"] {
	display: none;
}

#file2_tr, #file3_tr, #file4_tr {
	display: none;
}

#viewTitle {
	font-weight: bold;
	color: #6c8564;
}

#page-header-size {
	width: 1160px;
	margin-top: 60px;
	margin-left: 270px;
}

table tr td:nth-child(2) {
	padding-left: 8px;
	text-align: left;
	background-color:#dddddd45;
	border-radius: 0px 10px 10px 0px;
}

table tr td:nth-child(1) {
	border-radius: 10px 0px 0px 10px;
	background-color: #d5e5cf7d;
	width: 17%;
	font-weight: bold;
	font-size: 14px;
}

table {
	font-size: 13px;
}

#area_div {
	width: 200px;
}

#text_td {
	padding:10px;
}

#area {
	display: inline-block;
	width: 130px;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#price {
	display: inline-block;
	width: 130px;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

table tr {
	border-bottom: 5px solid #fff;
}

#mark {
	width: 15px;
	height: 15px;
}

#content {
	height: 100%;
	width:100%;
	border:0;
	padding: 10px;
}


.button2 {
    margin-left: 8%;
	margin-bottom: 150px;
    width: 600px;
    margin-top:10px;
    
}
#subBtn, #canBtn{
	float:right;
	margin-right:7px;
}
hr{
	border-top:2px solid #ccc
}
#window{
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	width:850px;
	height:1050px;
	margin:0 auto;
	margin-top:30px;
	display:inline;
}
#bottom_win{
	width: 660px;
    margin-left: 245px;
    height: 452px;
    margin-top: 10px;
    border: 10px solid #eee;
}
#warn{
	margin-bottom: 20px; 
	margin-top: 10px;
	text-align: center;
}