* {
	box-sizing: border-box;
}

#btnwrite {
	float: right;
	width: 96px;
    height: 40px;
    font-size: 17;
    margin-bottom:10px;
   	font-weight: bold;
}

#btn {
	width: 1000px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 32px;
}

#searchBox {
	border: 1px solid #dff0d8;
	background-color: #dff0d8;
	width: 1000px;
	height: 150px;
	margin-bottom: 10px;
	margin-top: 100px;
	border-radius: 10px;
}

#List {
	width: 1000px;
	height: 1500px;
	margin-bottom: 70px;
    margin-top: 20px;	
    padding-left: 4px;
}

#searchTable {
	margin: 0 auto;
	height: 112px;
    margin-top: 5px;
    width: 702px;
    
}

.list_table {
	text-align: center;
	width: 140px;
	height: 200px;
	display: inline-block;
	border: 1px solid #444444
}

#main {
	margin-left: 300px;
}

.viewbox {
	text-align: center;
	border: 1px solid #ddd;
	width: 180px;
	height: 225px;
	font-size: 13px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 10px;
}

.img {
	margin-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid black;
	height: 120px;
}

.row2 {
	margin-bottom: 3px;
	font-weight:bold;
}

#map {
	width: 1000px;
	height: 300px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;
}

#top {
	height: 20px;
	background: #427940;
	color: white;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.mark {
	width: 13px;
	height: 13px;
}

.searchNo {
	width: 500px;
	height: 400px;
	margin-top: 30px;
	text-align:center;
}
#box{
	border: 1px solid white;
    border-radius: 20px;
    width: 730px;
    height: 125px;
    background-color: white;
    margin-top: 1.2%;
    display:inline-block;
    margin-left:2%;
    float: right;
    margin-right: 18px;
    padding-left: 70px;
}
#searchLogo{
    width: 210px;
    height: 140px;
    margin-top: 12px;
    margin-left: 20px;
}
#con{
	margin-left:20%;
}
table tr td:nth-child(1) {
	text-align:center;
}
table tr td:nth-child(2) {
	padding-left: 5px;
}
#num_text{
	width:150px;
	display: inline-block;	
}
div strong{
	 font-size: 17px;
}
#num_div, #area_div, #price_div{
	width:400px;
	height:30px;
	margin-top: 10px;
}
#search_div{
	float:right;
}
select{
	height:22px;
}
.s_title{
	width:150px;
	text-align:center;
	display:inline-block;
    border: 1px solid #dff0d88f;
    border-radius: 10px;
    background-color: #dff0d88f;	
}
#search_div{
	width:120px;
	height:150px;
	text-align: center;
    margin-right: 80px;
    margin-top: 20px;
}
#searchBtn{
	height: 76px;
    width: 86px;
    background-color: #dff0d85c;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;    
}
ul{
	list-style:none;
    display: inline-block;
    padding:0;	 
}
#num_div{
	margin-bottom: 7px;
    margin-top: 13px;
}
#searchNo{
	text-align:center;
}