<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.BoardMapper">
<!-- 게시판 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		delete from community
		where num=#{num}
	</delete>
  <!-- 자료실 목록(PAGE번호를 전달받아서 startRow와 endRow를 구함) -->
  <select id="selectAll" parameterType="Integer" resultType="BoardDTO">
	<![CDATA[
	 select * from
         (select rownum rnum, num, member_num, password, writer,
            subject, category, content, regitdate, readcount,
            re_ref, re_lev, re_seq
         from
         (select * from community 
            order by re_ref desc, re_seq asc)
            )
         where rnum >= ((#{page}-1) * 10 +1 )
            and rnum <= (#{page} * 10)
      ]]>
	</select>
	
	<!-- 자료실 총 게시물 수 -->
	<select id="getListCount" resultType="int">
		select count(*) from community
	</select>
	
</mapper>