<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.BoardMapper">
  <delete id="deleteBoard">
  	delete from com where id = {id}
  </delete>
  <select id="selectAll" parameterType="Integer" resultType="BoardDTO">
	<![CDATA[
	 select * from
         (select rownum rnum, COM_NUM,COM_ID,COM_PASS,COM_NAME
            COM_SUBJECT,COM_CLASS, COM_CONT,COM_DATE,COM_READCOUNT,COM_FILE
            COM_RE_REF,COM_RE_LEV,
            COM_RE_SEQ
         from
         (select * from com
            order by COM_RE_REF desc, COM_RE_SEQ asc)
            )
         where rnum >= ((#{page}-1) * 10 +1 )
            and rnum <= (#{page} * 10)
      ]]>
	</select>
	
	<!-- 자료실 총 게시물 수 -->
	<select id="getListCount" resultType="int">
		select count(*) from com
	</select>
</mapper>