<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.FAQMapper">
	
	<select id="getSrcListCount" resultType="int" parameterType="String">
		select count(num) 
		from (select f.num, c.name category, f.title, f.content, nvl(f.readcount, 0) readcount from faq f, cs_category c where f.category = c.num) 
		where category like #{keyword} or 
		title like #{keyword} or 
		content like #{keyword} 
	</select>
	
	<select id="getSrcList" resultType="faq">
		select * 
		from (select f.num, c.name category, f.title, f.content, nvl(f.readcount, 0) readcount from faq f, cs_category c where f.category = c.num) 
		where category like #{keyword} or 
		title like #{keyword} or 
		content like #{keyword}
		order by readcount desc
	</select>
	
	<select id="getFaqTopTenList" resultType="faq">
		select * 
		from (select f.num, c.name category, f.title, f.content, nvl(f.readcount, 0) readcount from faq f, cs_category c where f.category = c.num)  
		order by readcount desc
	</select>
	
	<insert id="insertFaq" parameterType="faq">
		<selectKey resultType="int" keyProperty="num" order="BEFORE">
			select nvl(max(num), 0) + 1 from faq
		</selectKey>
		insert into faq values(#{num}, #{category}, #{title}, #{content}, 0)
	</insert>
	
	<update id="faqReadCountUpdate" parameterType="int">
		update faq set readcount = readcount + 1 where num = #{num}
	</update>
	
</mapper>