<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.GoodsMapper">
  <select id="selectItemsAtPage" resultType="CartGoodsDTO">
  <![CDATA[
    SELECT num, name, price, category, title, regitdate, content, filepath FROM (
    	SELECT rownum as rnum, num, name, price, category, title, regitdate, content, filepath 
    	FROM (
			SELECT * 
			FROM goods 
			WHERE category = #{param3}
			ORDER BY num DESC)
	    WHERE rownum <= #{param2}
    )
    WHERE rnum > #{param1}
  ]]>
  </select>
  <select id="selectItemByNum" parameterType="int" resultType="CartGoodsDTO">
  	select * from goods where num = #{num}
  </select>
  <select id="selectItemsByOrderNum" resultType="CartGoodsDTO">
	SELECT name, price, quantity
	FROM goods, goodsorders
	WHERE goods.num = goodsorders.goods_num AND order_num = #{orderNum}
  </select>
  
  <select id="selectItemCount" parameterType="int" resultType="int">
  	select count(*) from goods
  </select>
  <select id="selectItemCountByCategory" parameterType="int" resultType="int">
  	select count(*) from goods where category = #{category}
  </select>
  
  <insert id="insertGoods">
  	<selectKey resultType="int" keyProperty="num" order="BEFORE">
  	  SELECT MAX(num)+1 FROM goods
  	</selectKey>
  	INSERT INTO goods
  	VALUES (#{num}, #{name}, #{price}, #{category}, #{title}, #{regitdate}, #{content}, #{filePath})
  </insert>
  <update id="updateGoods" parameterType="GoodsDTO">
  	UPDATE goods
  	SET name = #{name} AND price = #{price} AND category = #{category} AND title = #{title} AND regitdate = #{regitdate} AND
  		content = #{content} AND filePath = #{filePath}
  	WHERE num = #{num}
  </update>
  <delete id="deleteGoodsByNum">
  	DELETE FROM goods 
  	WHERE num = #{num}
  </delete>
  
</mapper>