<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.GoodsMapper">
  <select id="selectAll" resultType="GoodsDTO">
    select * from goods where num = #{page}
  </select>
  <select id="selectByNum" parameterType="int" resultType="GoodsDTO">
  	select * from goods where num = #{num}
  </select>
  <select id="selectCartByMemberNum" resultType="GoodsDTO">
  	select goods.* from goods, cart, member where goods.num = goods_num AND cart.member_num = member.num AND cart.member_num = #{memberNum}
  </select>
</mapper>