<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.MainMapper">
  <select id="selectAll" resultType="MainDTO">
    select * from blah where id = #{id}
  </select>
  
  <insert id="insertMember" parameterType="MemberDTO">
  	insert into member values(member_num.nextval, #{id}, #{nickname}, 
  								#{password}, #{realname}, #{address}, 
  								#{email}, #{phone}, sysdate
  	)
  </insert>
  
	<select id="selectOne" parameterType="String" resultType="MemberDTO">
		select id from member where id=#{id}
	</select>

  
</mapper>