<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.MainMapper">
  <select id="selectAll" resultType="MainDTO">
    select * from blah where id = #{id}
  </select>
  
	<insert id="insertMember" parameterType="MemberDTO">
  	insert into member values(member_num.nextval, #{id}, #{nickname}, 
  								#{password}, #{realname},#{postnum}, 
  								#{address}, #{addressdetail}, #{email}, 
  								#{emaildomain}, #{phone}, sysdate
  	)
	</insert>
  
	<select id="selectLoginInfo" parameterType="MemberDTO" resultType="MemberDTO">
		select num,password, nickname from member where id=#{id} and password=#{password}
	</select>
	
	<select id="findMember" parameterType="int" resultType="MemberDTO">
		select * from member where num = #{num}
	</select>
	
	<update id="editMember" parameterType="MemberDTO">
		update member 
		set
		nickname=#{nickname}, password=#{password}, postnum=#{postnum},
		address=#{address}, addressdetail=#{addressdetail}, email=#{email},
		emaildomain=#{emaildomain}, phone=#{phone} where num=#{num}
	</update>

	
  
</mapper>