<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.RentalMapper">

  <select id="selectAll" resultType="RentalDTO">
    SELECT * FROM
  </select>
  
  <insert id="insertFarm" parameterType="RentalDTO">
  	INSERT INTO rentals
  	VALUES (rental_num_seq.nextval, #{member_num}, #{writer}, #{address}, #{title}, 
  		    #{sido}, #{sigungu}, #{area}, #{price}, #{content}, #{lat}, #{lng})
  		    
  	<selectKey resultType="int" keyProperty="board_num" order="AFTER">
  		SELECT max(num) 
  		FROM rentals
  		WHERE member_num = #{member_num}
  	</selectKey>	 
  </insert>
  
  <insert id="insertFile" parameterType="FileDTO">
  	INSERT INTO rentalfiles
  	VALUES (file_num_seq.nextval, #{board_num}, #{filename1}, #{filename2}, #{filename3}, 
  	       #{filename4}, #{filepath1}, #{filepath2}, #{filepath3}, #{filepath4})
  </insert>
  
  <select id="selectNameByPhone" parameterType="int" resultType="MemberDTO">
  	SELECT name, phone FROM member
  </select> 
  
</mapper>

