<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.swcome.donong.mapper.RentalMapper">

  
  <insert id="insertFarm" parameterType="RentalDTO">
  	INSERT INTO rentals
  	VALUES (rental_num_seq.nextval, #{member_num}, #{writer}, #{address}, #{title}, 
  		    #{sido}, #{sigungu}, #{area}, #{price}, #{content}, #{lat}, #{lng})
  		    
  	<selectKey resultType="int" keyProperty="num" order="AFTER">
  		SELECT max(num) 
  		FROM rentals
  		WHERE member_num = #{member_num}
  	</selectKey>
  </insert>
  
  <insert id="insertFile" parameterType="FileDTO">
  	INSERT INTO rentalfiles
  	VALUES (file_num_seq.nextval, #{board_num}, #{fileName1}, #{fileName2}, #{fileName3}, 
  	       #{fileName4}, #{filePath1}, #{filePath2}, #{filePath3}, #{filePath4})
  </insert>
  
  <select id="selectNameByPhone" parameterType="int" resultType="MemberDTO">
  	SELECT name, phone 
  	FROM member
  </select> 
  
  <select id="selectSidoSigunguNum" parameterType="Map" resultType="RentalDTO">
  	SELECT sido.num AS sido, sigungu.num AS sigungu
	FROM sido , sigungu
	WHERE sido.name like #{sido}
	AND sigungu.name = #{sigungu}
  </select>
  
  <select id="selectRentalList" resultType="RentalDTO">
  	SELECT * FROM rentals
  </select>
  
  <select id="selectRepresentImg" resultType="String">
  	SELECT filepath1 FROM rentalfiles
  </select>
  
  <select id="selectRentalView" resultType="RentalDTO" parameterType="int">
  	SELECT * 
  	FROM rentals
  	WHERE num = #{num}
  </select>
  
  <select id="selectFilePath" resultType="FileDTO" parameterType="int">
  	SELECT filepath1, filepath2, filepath3, filepath4  
  	FROM rentalfiles
	WHERE board_num = #{board_num}
  </select>
  
  
</mapper>

