<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="team.swcome.donong.mapper.ReplyMapper">
  
  <!-- 댓글입력 -->
  <insert id="insertReply">
  INSERT INTO community_reply(num, community_num, member_num, replyer, contents, regdate)
  VALUES(reply_seq.nextval,#{communityNum},#{memberNum},#{replyer}, #{contents}, sysdate)
  
  </insert>
  
  <select id="listReply" resultType="ReplyDTO">
	SELECT num, community_num, contents, replyer, regdate, updatedate
	FROM community_reply
	WHERE community_num= #{num}
	ORDER BY num
  </select>
 
  </mapper>