html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

#cs {
	margin-top: 50px;
}

#cs_header {
	width: 80%;
	height: 50px;
	margin: 0 auto;
}

#cs_header span:nth-child(1) {
	color: #8BC34A;
	font-size: 30px;
	font-weight: bold;
}

#cs_header span:nth-child(2) {
	font-size: 30px;
	font-weight: 500;
}

#cs_header span:nth-child(3) {
	font-size: 15px;
	font-weight: 300;
	color: gray;
}

/*  FAQ 검색 */

#faqSrcBar {
	width: 80%;
	height: 150px;
	background: #DCEDC8;
	margin: 0 auto;
	margin-top: 30px;
}

#faqSrcBar form {
	width: 100%;
}

#faqSrcBar * {
	float: left;
}

#faqLabel {
	display: inline-block;
	height: 150px;
	width: 10%;
	padding-left: 50px;
	line-height: 150px;
	font-size: 20px;
}

#faqLabel span {
	color: #1B5E20;
	font-weight: bold;
	margin-right: 5px;
}

#col2 {
	width: 70%;
	height: 150px;
}

#col2-row1 {
	width: 100%;
	height: 60px;
	font-size: 13px;
	color: gray;
	line-height: 80px;
}

#keyword {
	width: 80%;
	height: 30px;
	margin-right: 10px;
}

#faqSrcBar input[type="submit"] {
	width: 100px;
	height: 37px;
}

#col3 {
	display: inline-block;
	width: 18%;
	height: 150px;
	line-height: 150px;
}

#qnaBtn {
	width: 90%;
	height: 50%;
	margin-top: 30px;
	font-size: 20px;
}

/* 퀵메뉴 */

#quickMenu {
	width: 80%;
	height: 300px;
	margin: 0 auto;
	margin-top: 50px;
}

.faqBox {
	width: 100%;
	height: 230px;
	border-bottom: 1px solid green;
	border-top: 1px solid green;
}

.faqBox th {
	width: 14.285%;
	height: 40px;
	font-size: 17px;
	text-align: left;
	border-bottom: 1px solid green;
	line-height: 40px;
}

.faqBox tbody p {
	height: 35px;
	line-height: 35px;
}

.faqBox p a {
	font-size: 13px;
	text-decoration: none;
	color: black;
}

.faqBox p a:hover {
	color: green;
}

#quickMenu_header span:nth-child(1) {
	font-size: 25px;
	font-weight: bold;
}

#quickMenu_header span:nth-child(2) {
	color: #1B5E20;
	font-size: 25px;
	font-weight: 500;
}

#quickMenu_header span:nth-child(3) {
	font-size: 13px;
	font-weight: 300;
	color: gray;
}

/* 공지사항 & 자주묻는질문 */

#listSection {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

#noticeList {
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	width: 48%;
	height: 100%;
	float: left;
}

#noticeList th {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: 500;
	border-bottom: 1px solid green;
}

#noticeList tr td:first-child {
	text-align: center;
}

#noticeList tr td {
	line-height: 30px;
}

#faqList {
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	width: 48%;
	height: 100%;
	float: right;
}

#faqList th {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: 500;
	border-bottom: 1px solid green;
}

#faqList tr td:first-child {
	text-align: center;
}

#faqList tr td {
	line-height: 30px;
}